 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Unreal Engine</h2>
      <i class="devicon-unrealengine-original colored"></i>
      <i class="devicon-cplusplus-line colored"></i>
      <p> 1.5 years of experience of 3D game development in Unreal Engine C++ and blueprints. </p>
    </div>
    <div class="tech">
      <h2>Unity</h2>
      <i class="devicon-unity-original colored"></i>
      <i class="devicon-csharp-line colored"></i>
      <p>1.5 of experience of 2D, 3D and VR game development in Unity C#.</p>
    </div>
</div>
