<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cc-heading.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Citizen Conflict </h3>
    <ul>
      <li> Unreal Engine C++ / Blueprints </li>
    </ul>
    <p> Fast paced, action full multiplayer third-person hero shooter. My responsibilities being gameplay features and abilities. Also worked on networking, lag compensation and overall performance and network traffic optimisation. </p>
    <a class="project-link" href="https://citizenconflict.com/"> Website </a>
        <a class="project-link" href="https://store.epicgames.com/en-US/p/citizen-conflict-95e40e"> Epic Store </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ani_banner.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Aneemate </h3>
    <ul>
      <li> Unreal Engine C++ / Blueprints </li>
    </ul>
    <p> Pokémon inspired game about collecting and training powerful and diverse creatures. Worked on framework, core functionality and shared code base with Citizen Conflict. </p>
    <a class="project-link" href="https://aneemate.com/"> Website </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/unity-heading.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Prototypes </h3>
    <ul>
      <li> Unity C# </li>
    </ul>
    <p> VR Paraglide Simulator is my bachelors thesis, developed for beginner paraglide pilots for training purposes.
    Infinite Mind and Vertical Space Shooter are small game prototypes aiming to showcase simple AI, UI and game mechanics. </p>
    <a class="project-link" href="https://drive.google.com/file/d/1OYVFDhFXoA4RPlQEXn0w3cb5MSzvCnru/view"> Infinite Mind Build </a>
    <a class="project-link" href="https://is.muni.cz/th/bcqff/"> VR Paraglide </a>
    <a class="project-link" href="https://drive.google.com/file/d/18uESvv6Cy9MEP9xUlmtDBAeDoVJgP0Fn/view"> Vertical Space Shooter Build </a>
  </div>
</div>
