<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cc_banner1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Citizen Conflict </h3>
    <ul>
      <li> Unreal Engine C++ / Blueprints </li>
      <li> Gameplay features, abilities </li>
      <li> Networking </li>
      <li> Optimisation </li>
      <li> Bugfixing </li>
    </ul>
    <p> Fast paced, action full multiplayer third-person hero shooter. I am responsible mostly for gameplay features and hero abilities. I have also worked on networking, lag compensation and overall performance and network traffic optimisation. </p>
    <a class="project-link" href="https://citizenconflict.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ani_banner.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Animate </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://aneemate.com/">Check it out</a>
  </div>
</div>
